* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}
.principal {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.imagen {
  width: 200px;
  height: 200px;
  position: relative;
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.principal__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.principal__header .principal__lista {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  animation: backInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */

  /* transform: translateX(63px); */
}
.principal__header .principal__lista li {
  list-style: none;
  border: 2px solid #ff8000;
  margin: 0 5px;
  border-radius: 17px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.principal__header .principal__lista li:hover {
  background-color: #ff8000;
  transition: 0.4s;
  transform: translateY(-2px);
}

.principal__header .principal__lista li a {
  display: inline-block;
  color: white;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
  margin: 3px 15px;
}
.menu {
  font-weight: 900;
  display: none;
}
.content {
  position: relative;
  top: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .textbox {
  position: relative;
  top: -70px;
  max-width: 600px;
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.content .textbox h2 {
  font-size: 2.5em;
  line-height: 1.4em;
  font-weight: 500;
}

.content .textbox h2 span {
  color: #ff8000;
  font-size: 1em;
  font-weight: 700;
}

.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #ff8000;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.content .textbox a:hover {
  transition: 0.4s;
  transform: translateY(-2px);
}

.content .imgbox {
  width: 420px;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  /* margin-top: 50px; */
  height: 392px;
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.content .imgbox img {
  max-width: 550px;
  height: 250px;
}

.tres ul li {
  list-style: none;
}

.tres {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  animation: backInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}

.foto {
  height: 70px;
  max-width: 60px;
}

.tres li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.tres li :hover {
  transform: translateY(-20px);
}

.sci li a img {
  width: 30px;
  height: 30px;
}

.sci {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sci li {
  list-style: none;
  animation: backInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.sci li a {
  display: inline-block;
  margin: 5px 0;
  /* transform: scale(0, 5); */
  filter: invert(1);
}
.sci li a i {
  font-size: 35px;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff8000;
  clip-path: circle(650px at right 800px);
}
/* seccion 2 */

.seccion2 {
  min-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  background-color: black;
}

section > h3 {
  font-size: 45px;
  text-align: center;
  /* animation: backInLeft;
  animation-duration: 2s; */
}

.parrafo {
  text-align: center;
  /* animation: backInLeft;
  animation-duration: 2s; */
}

h3 > span {
  color: #ff8000;
}
/* <!-------------------------------------  seccion de los precios  -----------------------------------> */
.precio {
  width: 100%;
  /* height: 80vh; */
  background: black;
}
.precio__titulo h3 {
  height: 20%;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
.precio__seccion {
  height: 80%;
  /* background-image: url("imagenes/mo.png"); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.precio__seccion__container {
  width: 90%;
  max-width: 1100px;
  height: 90%;
  text-align: center;
  display: flex;
}
.fusion {
  width: 32%;
  height: 100%;
  background: #ff8000;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: swing;
  animation-duration: 4s;
}
.fusion img {
  width: 400px;
  height: 250px;
}
.fusion h3 {
  font-size: 37px;
  text-align: center;
}
.fusion p {
  font-size: 33px;
  font-weight: 700;
}
.fusion .sp {
  font-size: 20px;
  font-weight: 500;
}
.precio__liviano {
  width: 34%;
  height: 100%;
  background: #ff8000;
  margin-right: 10px;
}
.precio__liviano img {
  width: 350px;
}
.precio__motocarro {
  width: 32%;
  height: 100%;
  background: #ff8000;
}
.precio__motocarro img {
  width: 350px;
}
/* otros servicios */

.otros-servicios {
  width: 100%;
  min-height: 100vh;
  display: block;
  padding: 40px 50px;
  background-color: black;
}

.otros-servicios__titulo {
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px;
  font-weight: 600;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.otros-servicios__servicios {
  display: grid;
  min-width: 80%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-items: center;
}

.servicios__bloque {
  max-width: 95%;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.servicios__image {
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.servicios__titulo1 {
  margin: 5px 0;
  font-size: 21px;
  color: #ff8000;
}

.servicios__parrafo {
  margin-bottom: 25px;
}
/**************************** Mapa *****************************/
.mapa {
  width: 100%;
  height: 700px;
  background-color: black;
}
.mapa_img {
  width: 100%;
  height: 85%;
}
.mapa__ubicacion {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
/******************************************* normatividad *******************************************/
.normatividad {
  width: 100%;

  height: 500px;
  background: black;
}
.normatividad__texto {
  height: 20%;
}
.texto__titulo {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.texto__parrafo {
  text-align: center;
  font-size: 18px;
}
.normatividad__secciones {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.combinacion {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom right, black, #ff8000);
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 6s; /* don't forget to set a duration! */
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.combinacion__imagen {
  width: 117px;
  height: 117px;
  text-align: center;
}
.combinacion__texto {
  font-size: 25px;
}
.norma__texto {
  font-size: 20px;
}

/************************************************ onac ***************************************/
.onac {
  background-color: black;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onac__imagen {
  height: 200px;
  width: 250px;
}
.onac__texto {
  width: 500px;
  padding: 20px 0;
  font-size: 18px;
}
.onac__boton {
  background-color: black;
  color: #ff8000;
  height: 40px;
  width: 190px;
  border: 2px solid white;
  cursor: pointer;
  font-weight: 700;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.onac__boton:hover {
  background-color: #ff8000;
  color: #000;
}
/******************************************* imagenes de organizaciones aliados ****************************/

.relacion {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 100px;
  background: black;
}
.relacion__imagen {
  width: 153px;
  height: 79px;
  padding-bottom: 10px;
}

.runt {
  width: 153px;
  height: 79px;
  border: 2px solid #fff;
  padding: 0 5px 10px 5px;
}
/******************************************** footer *************************************************/

.footer {
  width: 100%;
  height: 60px;
  /* background-image: linear-gradient(to bottom right, black, #ff8000); */
  background: black;
}

.footer__texto {
  transform: translateY(22px);
  padding-left: 25px;
  font-size: 21px;
}

.footer__relleno {
  color: #ff8000;
}
/******************************************** PAGINA DE QUIENES SOMOS ************************************/
.somos {
  background: black;
  height: 200px;
}
.encabezado {
  /* min-height: 67px; */
  width: 100%;
  padding: 0;
  background-color: #ff8000;
  display: inline-block;
  /* background-color: black; */
}

.encabezado__titulo {
  font-size: 41px;
  text-align: center;
}
/* <!--------------------------------------------- collage ---------------------------------------------> */
.collage {
  width: 100%;
  padding: 0 10px 0 10px;
  height: 600px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
}
.collage__fondo {
  width: 90%;
  height: 90%;
  max-height: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.collage__fondo img {
  width: 100%;
  height: 265px;
}
.adelante {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgb(252, 74, 26, 0.3),
    rgb(247, 183, 51, 0.3)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  z-index: 100;
}
/********************************************* texto de quienes somos ************************/

.quien__texto {
  background-color: black;
  padding: 0 40px;
  text-align: center;
}

.quien__texto {
  font-size: 18px;
  line-height: 1.2 rem;
}

.informacion {
  width: 100%;
  background-color: black;
  display: inline-flex;
  padding: 0 20px;
}

.informacion_mision {
  width: 50%;
  padding: 17px;
  padding-top: 65px;
}

.informacion__titulo {
  text-align: center;
  font-size: 25px;
  color: #ff8000;
  padding-bottom: 10px;
}

.informacion__parrafo {
  text-align: center;
  line-height: 1.7rem;
}

.politica {
  font-size: 15.8px;
}
/******************************************** PAGINA DE SERVICIOS ************************************/
/*********************************************** eslogan *********************************************/
.eslogan {
  padding: 30px 0;
  position: relative;
  min-height: 98px;
  background: black;
}

.eslogan__articulos {
  /* width: 87%; */
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.eslogan_span {
  color: #ff8000;
}
/* ************************************** secciones de imagenes y parrafo *****************************/
.servicios {
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 80%;
  grid-gap: 10px 20px;
}
.ser__marco {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ser__seccion {
  margin-top: 21px;
}
.ser__imagen {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #ff8000;
  animation: rotateInDownLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.ser__titulo {
  font-size: 20px;
  margin-bottom: 6px;
  color: #ff8000;
}
/* ************************************** PAGINA DE NORMATIVDAD *******************************************/
.sub {
  min-height: 95px;
  display: block;
  padding: 30px 0;
  width: 100%;
  background: black;
}

.sub-titulo {
  font-size: 26px;
  text-align: center;
  max-width: 1108px;
  margin: 0 auto;
}

.sub-titulo__parrafo {
  text-align: center;
  /* margin-top: 23px; */
  /* margin-left: 16px; */
  font-size: 18px;
  max-width: 80%;
  margin: 23px auto 0 auto;
}
/* <!-- -------------------------------las normas que hay -------------------------------------> */

.leyes {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leyes1 {
  margin: 0 0 10px 0;
  /* transform: translateX(0); */
  color: #ff8000;
  font-size: 40px;
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.conjunto__fondo {
  background-color: black;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin: 0 auto;
}

.conjunto {
  background-color: black;
  padding: 15px 15px;
  position: relative;
  width: 422px;
  /* height: 194px; */
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 0 20px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.conjunto__imagen {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 0 10px 0 0;
}

.conjunto__texto {
  position: absolute;
  top: 55px;
  margin-left: 4px;
  font-size: 20px;
  font-weight: 600;
}
.normatividad__marco {
  width: 230px;
  height: 230px;
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, black, #ff8000);
  border: 2px solid #fff;
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.normatividad__imagen {
  width: 117px;
  height: 117px;
  /* position: absolute;
  top: 51px;
  left: 52px;
  z-index: 1;*/
}
/* <!-- -------------------------------las resoluciones que hay -------------------------------------> */

.reso {
  padding: 20px 0;
}
/* <!-- -------------------------------las circulares que hay -------------------------------------> */

.cir {
  top: 19px;
}

.espaciado {
  height: 50px;
  background-color: black;
}

/* <!-- -------------------------------las leyes que hay -------------------------------------> */

.ley {
  padding: 20px 0;
}
/***************************************** PAGINA DE LOS PROCESOS DE REVISION **********************************/

.proceso {
  background-color: black;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.proceso__livianos,
.proceso__motos {
  width: 50%;
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.proceso__titulo {
  text-align: center;
  font-size: 37px;
  padding: 10px 0;
}

.proceso__imagen {
  width: 250px;
  height: 250px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  border: 5px solid #fff;
  border-radius: 50%;
}

.imagenes {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 345px;
}

.mot {
  display: flex;
  justify-content: center;
  margin: 1px auto 0 auto;
}
/* <!---------------------------------------- proceso de revision de livianos ----------------------------> */

.descripcion__fondo {
  background-color: black;
  width: 100%;
}

.descripcion {
  display: flex;
  width: 100%;
  max-width: 1180px;
  /* height: 100vh; */
  justify-content: space-evenly;
  padding-top: 38px;
  margin: 0 auto;
  /* height: 100vh; */
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.descripcion__titulos {
  font-size: 21px;
}

.span__nar {
  color: #ff8000;
}

.descripcion__imagen {
  width: 200px;
  height: 200px;

  border: 2px solid #fff;
  border-radius: 50%;
  align-self: center;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.descripcion__grupo {
  width: 70%;
}

/* <!------------------------------------------- paso 3  ----------------------------------> */

.paso3 {
  margin: 0 auto;
  width: 100%;
}

.paso3__grupo {
  width: 55%;
}

/* <!------------------------------------------- paso 10  ----------------------------------> */

.entrega {
  padding-bottom: 25px;
}
/*************************** seccion del contacto *********************/

.body1 {
  background: #181818;
  color: #fff;
  line-height: 1.6;
  padding: 0 1.5em;
  height: 100vh;
}

.container__contacto {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #ff8000;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #ff8000;
}

.contact-form form button {
  background: #ff8000;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #ff8000;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */

.contact-info {
  background: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/**************************** responsive *****************************/

@media screen and (max-width: 1108px) {
  .principal__header {
    flex-direction: column;
  }
  .principal__header .principal__lista {
    justify-content: center;
    width: 100%;
  }
  .content {
    flex-direction: column;
  }
  .content .textbox {
    top: -20px;
  }
  .circle {
    clip-path: circle(53% at 50% 110%);
  }
  .content .textbox h2 {
    font-size: 40px;
  }
  .precio__motocicleta img {
    width: 300px;
    height: 200px;
  }
  .fusion h3 {
    font-size: 30px;
    text-align: center;
  }
  .fusion p {
    font-size: 25px;
  }
  .fusion .sp {
    font-size: 20px;
  }
  .precio__liviano img {
    width: 300px;
    height: 200px;
  }
  .precio__motocarro img {
    width: 250px;
    height: 200px;
  }
  .combinacion {
    width: 200px;
    height: 200px;
  }
  .combinacion__imagen {
    width: 100px;
    height: 100px;
    text-align: center;
  }
  .combinacion__texto {
    font-size: 20px;
  }
  .norma__texto {
    font-size: 17px;
  }
  .somos {
    height: 274px;
  }

  .footer__texto {
    font-size: 18px;
  }
  .conjunto__imagen {
    width: 80px;
    height: 80px;
  }
  .conjunto__texto {
    top: 15px;
    font-size: 17px;
  }
  .proceso__titulo {
    font-size: 32px;
  }
  .proceso__imagen {
    width: 200px;
    height: 200px;
  }
  .descripcion__imagen {
    width: 170px;
    height: 170px;
  }
  .mot {
    /* margin: 79px auto 0 auto; */
  }
}
@media screen and (max-width: 909px) {
  .principal__header {
    flex-direction: row;
    /* position: relative; */
  }
  .principal__header .principal__lista {
    display: none;
  }
  .principal__header .esconder {
    /* transform: translateY(-230px); */
    display: inline-block;
    position: absolute;
    top: 10px;
    width: 250px;
    height: 220px;
    right: 10px;
    padding-top: 27px;
    background: rgb(255, 128, 0);
    z-index: 100;
  }
  .principal__header .principal__lista li {
    border: transparent;
    top: 10px;
    box-shadow: none;
  }

  .principal {
    padding: 27px;
  }
  .imagen {
    width: 120px;
    height: 120px;
  }
  .menu {
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .content {
    top: 150px;
  }
  .content .textbox h2 {
    font-size: 30px;
  }
  .content .imgbox img {
    max-width: 450px;
    height: 200px;
  }
  .content .imgbox {
    padding-right: 65px;
    /* margin-top: 150px; */
  }
  section > h3 {
    font-size: 23px;
  }
  .combinacion {
    width: 150px;
    height: 150px;
  }
  .combinacion__imagen {
    width: 50px;
    height: 50px;
  }
  .combinacion__texto {
    font-size: 18px;
  }
  .norma__texto {
    font-size: 17px;
    text-align: center;
  }
  .texto__parrafo {
    font-size: 15px;
  }
  .somos {
    height: 150px;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .conjunto__imagen {
    width: 60px;
    height: 60px;
  }
  .conjunto__texto {
    font-size: 15px;
  }
}
@media screen and (max-width: 826px) {
  .precio__seccion__container {
    flex-direction: column;
    align-items: center;
  }
  .fusion {
    width: 80%;
    margin-bottom: 10px;
  }
  .otros-servicios__servicios {
    display: block;
  }
  /* .normatividad {
    height: 1000px;
  } */
  /* .normatividad__secciones {
    flex-direction: column;
  } */
  .texto__titulo {
    font-size: 30px;
  }
  .collage__fondo img {
    width: 100%;
    height: 266px;
  }
  .footer {
    height: 80px;
  }
  .conjunto__fondo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 21px 0;
  }
  .conjunto {
    width: 300px;
    margin: 0;
    justify-self: center;
  }
  .proceso__titulo {
    font-size: 25px;
  }
  .proceso__imagen {
    width: 150px;
    height: 150px;
  }
  .mot {
    /* margin: 109px auto 0 auto; */
  }

  /* .normatividad__secciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  } */
  /* .relacion {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 20px; */
  /* justify-content: space-between; */
  /* grid-auto-columns: 1fr; */
}
@media (min-width: 700px) {
  /* body {
        padding: 0 4em;
    } */
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .informacion {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
  }
  .informacion_mision {
    width: 100%;
  }
  .encabezado__titulo {
    font-size: 30px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .footer__texto {
    font-size: 16px;
  }
  .conjunto {
    width: 230px;
  }
  .sub-titulo {
    font-size: 19px;
  }
  .sub-titulo__parrafo {
    font-size: 14px;
  }
  .descripcion__titulos {
    font-size: 18px;
  }
  .descripcion__imagen {
    display: none;
  }
  .onac__texto {
    width: 450px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .principal {
    padding: 27px;
  }
  .content {
    top: 120px;
  }
  .content .textbox h2 {
    font-size: 23px;
  }

  .principal__header .principal__lista {
    animation: backInRight;
    animation-duration: 1s;
  }
  .principal__header {
    background: black;
    padding-bottom: 0;
  }

  .sci {
    display: none;
  }
  .content .imgbox img {
    max-width: 350px;
    height: 172px;
  }
  .precio__titulo h3 {
    font-size: 30px;
  }
  .otros-servicios__titulo {
    font-size: 30px;
  }

  .precio__seccion__container {
    flex-direction: column;
    align-items: center;
  }
  .fusion {
    width: 100%;
    margin-bottom: 10px;
  }
  .mapa__ubicacion {
    font-size: 30px;
    font-weight: 600;
  }
  .otros-servicios {
    padding: 40px 0px 40px 20px;
  }
  .mapa {
    height: 500px;
  }
  .normatividad {
    height: 1000px;
  }
  .normatividad__secciones {
    flex-direction: column;
  }
  .texto__titulo {
    font-size: 30px;
  }
  .onac__texto {
    font-size: 14px;
    width: 250px;
  }
  .relacion {
    /* justify-content: space-evenly;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    justify-content: space-between; */
    /* grid-auto-columns: 1fr; */
  }
  .quinta {
    justify-self: center;
  }
  .encabezado {
    min-height: 41px;
  }
  .encabezado__titulo {
    font-size: 29px;
  }
  .encabezado__titulo {
    font-size: 30px;
  }
  .collage {
    display: none;
  }
  .informacion {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
  }
  .informacion_mision {
    width: 100%;
  }
  .eslogan__articulos {
    font-size: 15px;
    font-weight: 600;
  }
  /* .footer {
    height: 90px;
  } */
  .footer__texto {
    font-size: 13px;
  }
  .leyes1 {
    font-size: 30px;
  }
  .conjunto__fondo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .normatividad__marco {
    width: 180px;
    height: 180px;
    background-image: linear-gradient(to bottom right, black, #ff8000);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .proceso {
    display: none;
  }
  .descripcion__grupo {
    width: 88%;
  }
  .paso3__grupo {
    width: 88%;
  }
}
@media screen and (max-width: 320px) {
  .relacion {
    display: block;
  }
}
